<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  RewriteBase /AltTech
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule ^(.+)$ index_admin.php?url=$1 [QSA,L]  
  DirectoryIndex index_admin.php
</IfModule>

